/* Header */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav {
	background: #ffffff;
	color: #000;
	font-family: ubuntu;
	height: 70px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

nav > a {
	color: inherit;
	text-decoration: none;
	background: inherit;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: inherit;
	line-height: 70px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 25%;
}

nav > a:hover {
	background: #f1f2f6;
	border-bottom: 5px solid #545454;
	border-left: 10px solid #939393;
	border-right: 10px solid #939393;
	border-top: 5px solid #545454;
	line-height: 60px;
	transition: .3s;
}
/* Header */

#resume{
  height: auto;
  margin-top: -30;
  padding-top: 60;
  font-size: 19px;
  line-height: 34px;

}

resume.in{
  width: 700px;
}

.in{
  max-width: 1024px;
  margin: 0 auto;
}

.tagline{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-width: 700;
  padding-bottom: 50px;
  font-size: 18px;
  text-transform: uppercase;
}

.sect-tagline{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #CEC8C8;
  font-size: 17px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #333;
}

.icon{
  width: 65px;
  height: 65px;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: all .4s ease;
}



a > img{
  boarder: none;
}

/* Glowing hover for image */
a > img:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}
a > img:last-of-type:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
}
/* Glowing hover for image */

.to-the-right{
  float: right;
}

/* Check list for unordered lists */
.new-list {
    list-style: none;
    padding-left: 0;
}
.new-list li {
    font-family: 'Karla', sans-serif;
    font-weight: 50;
    line-height: 25px;
    position: relative;
    padding-left: 20px;
    font-size: 17px;
}
.new-list li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('pics/stamp.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.skill{
  border: 1px solid #3742fa;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  border-radius: 30px;
}

body{
  background-color: #f1f2f6;
  color: black;
  font-family: 'Karla', sans-serif;
  line-height: 20px;
}
